<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>

<div class="container">
 
  <!-- Category table -->
  <table class="table">
  <thead>
    <tr>
      <!--<th scope="col">#</th>-->
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    
   <%list.forEach(function(l){%>
            <tr>
            <td><a class='colorLink' href='/quiz/<%=l%>'> <%= l -%> </a></td>
        <%});%>
  </tbody>
  </table>

  </div>
<script>
        $("#navCategory").addClass("active");
</script>
<%- include ('templates/footer'); -%>