<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>
<br><br>
<div class="container">
  <div class="card-deck mb-3 text-center">

  <!-- Search friends -->
  <form class="form-inline my-2 my-lg-0" method="POST" action="/addFriend">
      <input class="form-control mr-sm-2" type="search" placeholder="Search friends" aria-label="Search" id="add" name="add">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
   
  <!-- Friends container -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Friends list</h4>
      </div>
      <div class="card-body">
<<<<<<< HEAD
        <table>
        		<tr><th>Friends</th><th>Score</th></tr>
        		<tr><td colspan="2"><hr/></td></tr>
        		<%fq.forEach(function(friend){%>
            		<tr>
            			<td><%=friend.username%></td>
            			<td><%=friend.score%></td>
            			<td><a class='btn' href='/friend/<%=friend.sender%>/delete'>Delete</a> </td></tr>
        		<%});%>
        	</table>
        	
=======
        
        <ul class="list-unstyled mt-3 mb-4">
          <li>Friends</li>
      
        </ul>
       </div>
    </div>
  
  <!-- Friends request -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Friends Request</h4>
>>>>>>> 34670840675b9ec13d7cc74977dfb1c1b6f1fc22
      </div>
      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">
          <li>Friends list</li>
      
        </ul>
       </div>
    </div>
  
<script>
        $("#navFriends").addClass("active");
</script>
<%- include ('templates/footer'); -%>