<%- include ('templates/header'); -%>

<div class="container">
    <div class="jumbotron">
    
    <div class='data' quizValues='<%= JSON.stringify(quizValues) %>' quizInfo='<%= JSON.stringify(quizInfo) %>'></div>
    <h1 id="categoryName"><%=quizName-%></h1>
    <div id="qDiv"class='container'></div>
    <a class='btn' id="prev" value="prev">Prev</a>
    <a class='btn'id="next" value="next">Next</a><br>
    <button id='home' value='home'>Home</button>
    
    <script src="js/quiz.js"></script>
    
</div>
</div>
<script> </script>
<%- include ('templates/footer'); -%>