<%- include ('templates/header'); -%>
<%- include ('templates/nav'); -%>
<div class="container">
  <div class="card-deck mb-3 text-center">

  	<!-- Recent activity -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Recent activity</h4>
        <h6>Total Score: <%= score -%></h6>
          
      </div>
      <div class="card-body">
        
      
        
      </div>
       <div class="card-body">
        <table>
        		<tr><th>Quiz Taken</th><th>Score</th></tr>
        		<tr><td colspan="2"><hr/></td></tr>
        		 <%activityList.forEach(function(activity){%>
            		<tr>
            			<td><%=activity.quiz_name-%></td>
            			<td><%=activity.score-%></td>
        		<%});%>
        	</table>
        	
      </div>
    
    <!-- Random category -->
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Random category</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <%categoryList.forEach(function(c){%>
            <li><a href=""> <%= c -%> </a></li>
        <%});%>
        </ul>
      </div>
    </div>

    <!-- Random Trivia -->
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Random Trivia</h4>
      </div>
      <div class="card-body">
        <a class='btn btn-lg btn-block btn-primary' href='/quiz'>Take</a>
      </div>
    </div>
  </div>
</div>
<script>
        $("#navHome").addClass("active");
</script>

<%- include ('templates/footer'); -%>